/accessControl.main.xml
/accessControl.records.xml
/accessControl.createEntries.xml
/accessControl.createProfiles.xml
/accessControl.createRecords.xml
/accessControl.createSpec.xml
/accessControl.viewRecords.xml
